---

---

<header class="p-4 bg-red-600 text-white shadow-md">
    <nav class="flex items-center gap-4">
        <a href="/" class="text-2xl font-bold text-cyan-400 no-underline">
            Astro Royale
        </a>

        <div class="container flex justify-between mx-auto"></div>
        <div class="items-center hidden md:flex md:gap-4"></div>

        <ul class="flex gap-6 list-none m-0 p-0">
            <li>
                <a href="/" class="text-slate-200 no-underline hover:text-cyan-400 transition-colors">Inicio</a>
                <a href="/cartas"></a>
            </li>
        </ul>
    </nav>
</header>